<p>
  <button (click)="toggle()">tap!</button>
  <button (click)="clear()">clear</button>
</p>
<p>
  <button (click)="getRepositories()">
    Get Repositories!
  </button>
</p>

<ng-template [ngIf]="show" [ngIfElse]="loading">
  <div class="item-list">
    <div class="repositories">
      <ul>
        <li *ngFor="let item of repositories">
          {{ item.name }}
        </li>
      </ul>
    </div>
  </div>
</ng-template>
<div *ngIf="!this.repositories.length && show">
  Nothing here!
</div>

<ng-template #loading>
   <div>Loading...</div>
</ng-template>


